*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
   width: 100%;
   height: 100vh; 
   background: url(../assets/img/image.jpg);
   background-position: center;
   background-size: cover;
}

.container::before {
  content: 'none';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  z-index: 1000;
}

.container .header {
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
}



.container .header .logo {
    font-size: 30px;
    margin-left: 40px;
}

.container .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 10px;
}

.container .header ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.container .header ul li a {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

.container  .conteudo {
    color: white;
    text-align: center;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo a {
  padding: 7px 14px;
  background-color: #800080;
  text-decoration: none;
  color: white;
  margin: 50px 0;
  width: 40%;
  border-radius: 20px;
}

.container .conteudo h1 {
    margin-bottom: 25px;
}

.container2{
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.boxsobremim {
  display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:  #800080;
  /* margin-left: 25%;
  margin-top: 50%; */
  width: 40%;
  height: 70%;
  border-radius: 30px;
}
/*login*/

.banner .card {
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.card {
    margin-top: 20px;

}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    background-color: #800080;
    cursor: pointer;
}

.card input {
    height: 30px;
    border: 1px solid #800080;
    border-radius: 4px;
}

/* FORMULARIO */

.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #800080 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #32b9cd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #800080;;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }
    